@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&family=Fredoka+One&family=Indie+Flower&display=swap');

:root {
    --yellow300: #FCD34D;
    --yellow50: #FFFBEB;
    --yellow100: #FEF3C7;
}



textarea {
    display: block;
    width: 40%;
    height: 17%;
   
    background-color: var(--yellow50);
    
    margin: auto;
    padding: 1rem; 
    border-radius: 0.5rem;
    
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.2rem;

}


#btn-translate {
    display: block;
    
    background-color: var(--yellow100);

    margin: auto;
    padding: 1rem;    
    border-radius: 1rem;
    border-bottom: 2px solid black;
    
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    font-size: 1.1rem;
}

#output {
    display: block;
    width: 40%;
    height: 17%;
   
    background-color: var(--yellow50);
    
    margin: auto;
    margin-bottom: 7rem;
    padding: 3.2rem 1rem; 
    border: 3px solid black;    
    border-radius: 0.5rem;
    
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.2rem;
}

.bg-image{
    background-image: url("/images/2.jpg");
    background-size: cover;
    

}

body {
    margin: 0;
    font-family: 'Indie Flower', cursive;
    
}


.container-text-area {
    margin-top: 3rem;
}

.container-button{
    margin: 2.5rem 0rem;
}

.header{
    background-color: var(--yellow300);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding-top: 0.1rem;
    border-bottom: 5px solid black;   
}

.header-text{
    text-align: center;
    
}

.footer{
    background-color: var(--yellow300);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-top: 5px solid black;
    padding-bottom: 0.1rem;
   
}

.footer-text{
    text-align: center;
    margin: 0;
    margin-bottom: 1%;
    font-family: 'Baloo 2', cursive;
    
}

.footer-heading {
    padding: 0;
    margin: 0;
    margin-top: 0.5%;
    text-align: center;
}